# Environnement
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# Éditeurs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
